body {
    font-family: sans-serif;
    text-align: center;
    color: #fef98e;
    background-color: #eb0e0e;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    text-decoration: none;
    font-family: sans-serif;
    margin: 20px;
}

.flex-grid {
    display: flex;
    width: 600px;
    margin: 0 auto;
}

.col {
    flex: 1;
    display: flex;
    height: 600px;
    min-height: 600px;
    flex-direction: column;
    background-color: white;
}

.row {
    flex: 1;
    outline: black 1px solid;
    color: white;
    background-color: white;
}